header a {
  margin: 0 8%;
}

header span {
  color: white;
  font-size: 0.8rem;
  font-weight: bold;
  position: fixed;
  top: 0;
  right: 1rem;
}

.ant-layout-header {
  height: 70px !important;
  padding: 0 2rem !important;
  line-height: 70px !important;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
