header a {
  margin: 0 2.5rem;
}

header span {
  color: white;
  font-size: 0.8rem;
  font-weight: bold;
  position: fixed;
  top: 0;
  right: 1rem;
}

.ant-layout-header {
  height: 70px !important;
  padding: 0 2rem !important;
  line-height: 70px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
