footer {
  padding: 0 !important;
  color: white !important;
  background: #001529 !important;
  text-align: center;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

footer .icon {
  width: 30px;
  height: auto;
  margin-right: 0.5rem;
}

.linkedin {
  background: white;
  border-radius: 5px;
}
